@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,500;0,600;1,200&display=swap');

:root {
    --main: #0A369D;
    --secondary: #4472CA;
    --details: #5E7CE2;
    --details-light: #92B4F4;
    --bg: #CFDEE7;
}

body {
    font-family: 'Urbanist', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

img.logo{
    height: 50px;
    aspect-ratio: 1/1;
}

nav.st{
    height: 10%;
}

a.logo{
    font-size: 30px;
}

a.tab{
    font-size: 20px;
}

div.container-principal{
    height: 2000px
}

div.video{
    width: fit-content;
    aspect-ratio: 3.25/1;
    padding: 0;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
video.principal{
    width: 100%;
    z-index: -1;
}

.video{
    position: absolute;
}

h1.ctoa{
    color: aliceblue;
}

a.ctoa{
    display: inline-block;
    text-decoration: none;
    background-color: #0A369D;
    border-radius: 10px;
    padding: 0 5px;
}

a.ctoa:hover{
    background-color: #4472CA;
}