<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-right">
    <link rel="stylesheet" href="/navbar.css">
    <div class="container-fluid">
        <a class="logo navbar-brand mb-0 h1" href="/">
            <img class="logo " src="/images/gota.png">
            H<sub>2</sub>O<sub>verflow</sub>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="tab nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="tab nav-link active" aria-current="page" href="/monthly_stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="tab nav-link active" aria-current="page" href="/data_entry">DataEntry</a>
                </li>
                <% if (!user?.name) { %>
                    <li class="nav-item">
                        <a class="tab nav-link active" aria-current="page" href="/login">Profile</a>
                    </li>
                    <% } else { %>
                        <a class="tab nav-link active" aria-current="page" href="/profile">Profile</a>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>