<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Entry</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="data.css">
  <link rel="shortcut icon" href="/images/gota.png" type="image/x-icon">
</head>

<body>
  

  <div class="container">
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <h2 class="text-center">Update your daily usage</h2>

        <div class="container gap-4">
          <div class="row my-3">
            <div class="col col-4" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Fixed plumbing">
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#plumbingModal">
                <img src="../svgs/pipe.svg" alt="pipesss" width="100%">
              </button>
            </div>
            <div class="col col-4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Shower under 5 min">
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#showerModal">
                <img src="../svgs/shower.svg" alt="shower" width="100%">
              </button>
            </div>
            <div class="col col-4" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Dishwasher">
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#activityModal">
                <img src="../svgs/dishwasher.svg" alt="dishwasher" width="100%">
              </button>
            </div>
          </div>

          <div class="row my-3">
            <div class="col col-4" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Water tap">
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#activityModal">
                <img src="../svgs/water-tap.svg" alt="tap" width="100%">
              </button>
            </div>
            <div class="col col-4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Clean dishes">
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#activityModal">
                <img src="../svgs/plate.svg" alt="plates" width="100%">
              </button>
            </div>
            <div class="col col-4" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Wash hands">
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#activityModal">
                <img src="../svgs/hand-washsvg.svg" alt="hand wash" width="100%">
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center">Activities to reduce water usage</h2>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <img src="../svgs/water-tap.svg" alt="water tap" height="30px" />
                Turn off the taps
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Don't let your water consumption run out of control. Save 6 litres of water a minute by turning off your
                tap
                while you brush your teeth. Fix leaky taps too and stop what could be 60 litres of water going straight
                down
                the drain every week.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <img src="../svgs/shower.svg" alt="shower" height="30px" />
                Shower with less
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Every minute you spend in a power shower uses up to 17 litres of water. Set a timer on your phone to
                keep your
                showers short, sweet and water-saving.
                Switching to an efficient shower head will allow you to lather up in less water, which means you'll save
                water
                and cut your bills.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <img src="../svgs/washing-machine.svg" alt="shower" height="30px" />
                Save up your dirty clothes
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Washing a full machine load of clothes uses less water and energy than 2 half-loads. This means lower
                bills as
                well.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <img src="../svgs/rain.svg" alt="rain" height="30px" />
                Catch rainwater
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Installing water butts saves up to 5,000 litres of water a year. And your plants will thank you for
                rainwater
                rather than treated tap water.
                You can also cut water use by 33% by watering plants manually instead of using automatic sprinklers.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <img src="../svgs/toilet.svg" alt="toilet" height="30px" />
                Get a low-flush toilet
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Modern dual-flush systems save huge amounts of water. They use just 6 litres - or 4 with a reduced flush
                -
                much less than the 13 litres for each old-style single flush.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <img src="../svgs/dishwasher.svg" alt="dishwasher" height="30px" />
                No more washing up
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Got a dishwasher? Fill it up completely each time you run it and you'll use less water than you would
                doing
                the dishes by hand. Yes, even if you're using a washing-up bowl. What better excuse to go and have a
                nice sit
                down?
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <img src="../svgs/pipe.svg" alt="pipe" height="30px" />
                Be plumbing prepared
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Regularly check your kitchen pipes and the dishwasher hose for slow leaks.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <img src="../svgs/water.svg" alt="water" height="30px" />
                Don't fund the water-grabbers
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Some companies and investors that buy up land around the world contribute to water scarcity and
                pollution.
                They sometimes deny local people access to water, pollute watercourses or exhaust supplies. This can
                affect
                the ability of local communities to farm and access safe drinking water. This is known as
                "watergrabbing".
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="plumbingModal" tabindex="-1" aria-labelledby="plumbingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="plumbingModalLabel">Fixed the plumbing</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Mark done to notify that you have fixed the leaks in your plumbing systems
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="showerModal" tabindex="-1" aria-labelledby="showerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="showerModalLabel">Took a shower in 5 minutes or less</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Mark done to notify that you have taken a water friendly shower
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="activityModalLabel">Activity modal example</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This is an example modal
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
</body>

</html>