<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>H2Overflow</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/home.css">
  <link rel="shortcut icon" href="/images/gota.png" type="image/x-icon">
</head>

<body>
  <%- include("../components/navbar.ejs", { user }); %>
    <div class="container-fluid containerPrincipal">
      <div class="row">
        <div class="col video">
          <div class="position-absolute">
            <h1>It's time we all do our part,</h1>
            <h1 class="d-inline">
              Do something
              <a class="ctoa" href="/login">
                <span class="d-inline ctoa">NOW!</span>
              </a>
            </h1>
          </div>
          <video class="principal" autoplay muted loop>
            <source src="/video/video.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="row content">
        <div class="col-12 col-md-6">
          <h1><strong>Welcome to H<sub>2</sub>O<sub>verflow</sub></strong></h1>
          <p>
            We are passionate about conserving one of our planet's most precious resources - water. Our mission is to
            empower you to take control of your water usage and <strong class="underline">reduce your water
              footprint</strong>. We understand that every drop counts, and that's why we've developed an innovative
            tracking system to help you monitor and manage your water consumption like never before.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <img width="45%" src="/svgs/water-save.svg">
        </div>
      </div>
      <div class="row content">
        <div class="col-12 col-md-6">
          <img width="45%" src="/svgs/water-drops.svg">
        </div>
        <div class="col-12 col-md-6">
          <h1>The Importance of Saving Water</h1>
          <p>Water is a fundamental resource, essential for our survival and the health of our planet.
            Saving water is about being responsible stewards of our environment and ensuring a sustainable
            future. It's a simple yet crucial action that contributes to the well-being of our ecosystems,
            conserves energy, and supports our daily needs. By using water wisely, we not only secure our
            own future but also the future of generations to come. </p>
        </div>
      </div>
    </div>
<%- include('../components/footer') %>